<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.3" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net452" />
  <package id="SpecFlow" version="3.9.74" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net452" />
</packages>
